@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:wght@400&family=Source+Code+Pro:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    @include center;
    background: #564f6f;
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    
    font-family: 'Rubik', sans-serif;
}

.Intro {
    @include center;
}

.HexagonBorder {
    content: '';
    @include hexagonBorder;
    position: absolute;
    background: #00887a;
    animation: border_animate 5s infinite linear;
}


.Hexagon {
    @include hexagon;
    content: '';
    background: #022140;
    margin-bottom: 0;
}

.Julian {
    display: flex;
    height: 300px;
    position: absolute;
    color: #86b3d1;
    font-size: 55px;
    align-items: center;
}

@keyframes border_animate {
   /* 0%{background-color: #53900f}
    25%{background-color: #10e7dc}
    50%{background-color: #57ba98}
    75%{background-color: #00887a}*/
}