.landingpage-wrap {
    height: 100vh;
    width: 100vw;

    background: black;
    
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    margin: 0;
    padding: 0;
}

/* row start / column start / row end / column end */
.landingpage-container {
    margin: 0;
    padding: 0;
    grid-area: 1 / 15 / 101 / 85;
    background: #34495e;
}


.firstbar {
    content:"";
    height: 2px;
    background: blue;
    display: grid;

    grid-area: 15 / 10 / 29 / 35; 
}

/* Desktop & Ipad */
/* Mobile */