@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');



body {
    background: #34495e;
    margin: 0;
    padding: 0;
    color: lightgray;

    width: 100vw;
    height: 100vh;
    @include center;
    font-family: 'Abel', sans-serif;
}

.greeting-screen {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    line-height: 40px;
    height: 40px;
    overflow:hidden;
}

.hello {
    margin: 0 1em 0 0;
    color: #3feee6
}

.container-list {
    min-height: 200px;
    list-style: none;
    text-align: center;
    margin: 0 0.5em 0 0.5em;
    padding: 0;

    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.before-text, 
.after-text {
    margin: 0 0.5em 0 0.5em;
    color: red;
}

.list-item {
    color: #8ee4af;
}

.container-symbol-1 { 
   color: yellow; 
}

.container-symbol-2 {
    color: yellow; 
}

@keyframes change {
    0%, 12%, 100% {transform:translate3d(0,0%,0);}
    18%, 22% {transform:translate3d(0,-20%,0);}
    28%, 32% {transform:translate3d(0,-40%,0);}
    38%, 42% {transform:translate3d(0,-60%,0);}
    48%, 52% {transform:translate3d(0,-80%,0);}
    58%, 62% {transform:translate3d(0,-60%,0);}
    68%, 72% {transform:translate3d(0,-40%,0);}
    78%, 82% {transform:translate3d(0,-20%,0);}
    88%, 92% {transform:translate3d(0,0%,0);}
  }

  /* @keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,1%,0);}
    16.66%, 29.32% {transform:translate3d(0,-19%,0);}
    33.32%,45.98% {transform:translate3d(0,-39%,0);}
    49.98%,62.64% {transform:translate3d(0,-59%,0);}
    66.64%,79.3% {transform:translate3d(0,-79%,0);}
    49.98%,62.64% {transform:translate3d(0,-59%,0);}
    33.32%,45.98% {transform:translate3d(0,-39%,0);}
    16.66%, 29.32% {transform:translate3d(0,-19%,0);}
    0%, 12.66%, 100% {transform:translate3d(0,1%,0);}
  } */