@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');



.greeting-screen {
    margin: 0;
    padding: 0;
    color: lightgray;

    width: 100vw;
    height: 100vh;
    font-family: 'Abel', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 60px;
    height: 100px;
    overflow:hidden;
}

.hello {
    margin: 0 1em 0 0;
    color: #3feee6;
}

.container-list {
    line-height: 100px;
    // position: absolute;
    min-height: 200px;
    list-style: none;
    text-align: center;
    margin: 0 0.5em 0 0.5em;
    padding: 0;

    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    display:flex;
    flex-direction: column;
    align-self: flex-start;
}

.before-text, 
.after-text {
    margin: 0 0.5em 0 0.5em;
    color: red;
}

.list-item {
    color: #8ee4af;
}

.container-symbol-1 { 
   color: yellow; 
}

.container-symbol-2 {
    color: yellow; 
}

@keyframes change {
    0%, 12%, 100% {transform:translate3d(0,0%,0);}
    18%, 22% {transform:translate3d(0,-20%,0);}
    28%, 32% {transform:translate3d(0,-40%,0);}
    38%, 42% {transform:translate3d(0,-60%,0);}
    48%, 52% {transform:translate3d(0,-80%,0);}
    58%, 62% {transform:translate3d(0,-60%,0);}
    68%, 72% {transform:translate3d(0,-40%,0);}
    78%, 82% {transform:translate3d(0,-20%,0);}
    88%, 92% {transform:translate3d(0,0%,0);}
}

@media (max-width: 800px) {
    .greeting-screen {
    
        width: 100vw;
        height: 100vh;
        font-family: 'Abel', sans-serif;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        font-size: 25px;
        height: 100px;
        overflow:hidden;
    }
    
    .hello {
        margin: 0 1em 0 0;
        color: #3feee6;
    }
    
    .container-list {
        line-height: 100px;
        // position: absolute;
        min-height: 200px;
        list-style: none;
        text-align: center;
        margin: 0 0.5em 0 0.5em;
        padding: 0;
    
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    
        display:flex;
        flex-direction: column;
        align-self: flex-start;
    }
}