@import "./css-Variables/variables";
@import "./css-Variables/mixins";
@import "./Intro-Screen/intro";
@import "./Landingpage/landingpage";

body {
    background: #34495e;
    margin: 0;
    padding: 0;
    color: lightgray;

    width: 100vw;
    height: 100vh;
    @include center;
}